html {
    background: url(../img/Main_grayHead.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    /*
    https://css-tricks.com/perfect-full-page-background-image/
    */
}
a {
    text-decoration: none;
    color: #000000;
}